*{
  font-family: 'Roboto', sans-serif;
}
.mail-inbox {
  display: flex;
}
.mail-inbox .mail-left {
  transition: all 0.3s ease-in-out;
  display: block;
  vertical-align: middle;
  width: 250px;
  padding: 15px 25px;
  background-color: #fff;
}
.blueselected {
  color: #0392cf !important;
  font-weight: bold;
}
.mynavbar {
  margin: 16px;
}
.mynavbar li {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 10px;
}
.mynavbar li a {
    text-decoration: none;
      font-size: 13px;
      color: coral;
      font-weight: 800;
      padding: 3px 3px;
      border: 2px solid coral;
      border-radius: 6px;
}
