.accordion_item {
  display: flex;
  flex-direction: column;
}

.accordion_button {
  font-size: 16px;
  background-color: #eee;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* activate toggle */
.accordion_wrapper {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
